
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.withdraw-container {
    background: linear-gradient(to bottom right, #2fab93 0%, #217a69 50%) bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #2fab93 0%, #217a69 50%) bottom left / 50% 50% no-repeat,
    linear-gradient(to top left, #2fab93 0%, #217a69 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #2fab93 0%, #217a69 50%) top right / 50% 50% no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 40px; /* Adjust the value as needed for the desired gap */

    /* Add other styles for your container here */
}