
.depositLoginButton {
    position: relative;
    border-radius: 40px;
    background: linear-gradient(90deg, #14b797 0%, #129f83 100%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    /*display: flex;*/
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border: 2px solid rgba(63, 209, 178, 1);
    cursor: pointer;
}

.depositLoginButtonText {
    font-family: Poppins, sans-serif;
    color: #d4fff7;
    font-size: 16px;
    font-weight: 600;
}

/* tellerATM.module.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlayContent {
    text-align: center;
}

.overlayLoginButton {
    width: 150px; /* Adjust width as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 2px solid #0fc400; /* Border color and thickness */
    border-radius: 25px; /* Adjust border radius for roundness */
    background-color: #0fc400; /* Background color of the button */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    text-align: center; /* Center text */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 30px;
}

.overlayBackButton {
    width: 150px; /* Adjust width as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 2px solid #db3434; /* Border color and thickness */
    border-radius: 25px; /* Adjust border radius for roundness */
    background-color: #db3434; /* Background color of the button */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    text-align: center; /* Center text */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, color 0.3s;


}

.overlayLoginButton:hover {
    background-color: #0d9b00;
}

.overlayBackButton:hover {
    background-color: #b73500;
}

.overlayText {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin: 25px 0;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

.topRightContainer {
    position: absolute;
    right: 40px; /* Adjust as needed */
    z-index: 100; /* Ensure it appears on top */
}


.balanceContainer {
    display: flex;
    gap: 20px;
}

.coinItem {
    display: flex;
    align-items: center;
}

.coinItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.coinType {
    font-size: 18px;
    font-weight: bold;
}

.coinAmount {
    font-size: 24px;
    color: #fff;
}
