.slider {
    height: 5px;
    width: 100%;
    background-color: #E03E3E;
    border-radius: 5px;
    /* margin-top: 10px; */

    margin: 2rem 0;
}

/* Styles for the slider thumb */
.slider .thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E03E3E;
    cursor: grab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

/* Styles for the slider active state */
.slider .thumb.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider-typo-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-typo-input div {
    width: 30%;
}

.slider-typo-input input {
    width: 100%;
    color: #fff;
    background-color: inherit;
    font-size: 16px;
    font-family: CPMono_v07_Plain;

    outline: none;
    border: none;
}