
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.container {
    background: linear-gradient(to bottom right, #2fab93 0%, #217a69 50%) bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #2fab93 0%, #217a69 50%) bottom left / 50% 50% no-repeat,
    linear-gradient(to top left, #2fab93 0%, #217a69 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #2fab93 0%, #217a69 50%) top right / 50% 50% no-repeat;
    margin-top: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    /* Add other styles for your container here */
}



@media (max-width: 991px) {
    .container {
        padding: 40px 20px 20px;
    }
}

.logo {
    aspect-ratio: 0.71;
    object-fit: cover;
    object-position: center;
    width: 60px;
    margin: 0 auto 20px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.welcomeText {
    color: #4cffd8;
    font: 600 28px Poppins, sans-serif;
    margin-bottom: 10px;
}

.questionText {
    color: #4cffd8;
    font: 700 36px Poppins, sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.optionsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    margin: 20px auto;
}

.overlapButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    opacity: 0;
}

.optionCardWrapper {
    position: relative;
    margin-bottom: 10px; /* Adjust as needed */
}

.loginButton {
    position: relative;
    border-radius: 40px;
    background: linear-gradient(90deg, #14b797 0%, #129f83 100%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    /*display: flex;*/
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border: 2px solid rgba(63, 209, 178, 1);
    cursor: pointer;
}

.loginButtonText {
    font-family: Poppins, sans-serif;
    color: #d4fff7;
    font-size: 16px;
    font-weight: 600;
}

/* tellerATM.module.css */

.topRightContainer {
    position: absolute;
    right: 40px; /* Adjust as needed */
    z-index: 100; /* Ensure it appears on top */
}
