body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}

.container {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #2fab93 0%, #217a69 50%) bottom right / 50% 50% no-repeat,
        linear-gradient(to bottom left, #2fab93 0%, #217a69 50%) bottom left / 50% 50% no-repeat,
        linear-gradient(to top left, #2fab93 0%, #217a69 50%) top left / 50% 50% no-repeat,
        linear-gradient(to top right, #2fab93 0%, #217a69 50%) top right / 50% 50% no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 40px;
    /* Adjust the value as needed for the desired gap */

    /* Add other styles for your container here */
}

.topRightContainer {
    position: absolute;
    right: 40px; /* Adjust as needed */
    z-index: 100; /* Ensure it appears on top */
}



@media (max-width: 991px) {
    .container {
        padding: 40px 20px 20px;
    }
}

.logo {
    aspect-ratio: 0.71;
    object-fit: cover;
    object-position: center;
    width: 60px;
    margin: 0 auto 20px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.welcomeText {
    color: #4cffd8;
    font: 600 28px Poppins, sans-serif;
    margin-bottom: 10px;
}

.questionText {
    color: #fff;
    font: 700 36px Poppins, sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}



.tokens .individualToken {
    width: 375px;
    /* max-width: 400px; */
    display: flex;
    align-items: center;
    border: 3px solid rgba(0, 255, 202, 50);

    border-radius: 4rem;
    padding: 0.5rem;

    background: rgb(51, 182, 157);
    background: -moz-linear-gradient(90deg, rgba(51, 182, 157, 1) 0%, rgba(22, 75, 65, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(51, 182, 157, 1) 0%, rgba(22, 75, 65, 1) 100%);
    background: linear-gradient(90deg, rgba(51, 182, 157, 1) 0%, rgba(22, 75, 65, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33b69d", endColorstr="#164b41", GradientType=1);

    margin: 1.5rem auto;
    cursor: pointer;
}

.tokens .tokenDetails {
    /* margin-right: 7rem; */
    margin-left: 1.5rem;

    font-family: Poppins, sans-serif;
}

.tokens .tokenDetails .name {
    font-size: 20px;
}

.tokens .tokenDetails .price {
    font-size: 24px;
    font-weight: 800;
}

.tokens .individualToken .tokenImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.tokens .individualToken .withdrawArrow {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: auto;
}